/*
=========================================
RESET
=========================================
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
=========================================
Utilities
=========================================
*/
/*Palette*/
.bg-darkgrey {
    background-color: rgb(19, 19, 23);
}
.bg-grey {
    background-color: rgb(27, 28, 33);
}
.bg-lightgrey {
    background-color: rgb(44, 44, 54);
}
.c-lightgrey {
    color: rgb(148, 148, 148);
}
.d-flex-y {
    display: flex;
    flex-direction: column;
}
.c-white {
    color: white;
}
ul {
    list-style: none;
}
.d-flex {
    display: flex;
}
/*
=========================================
Macroaree
=========================================
*/
body {
    max-width: 512px;
    border: 2px solid red;
    position: relative;
    margin: 0 auto;
}
footer {
    height: 75px;
}
main {
    height: calc(100vh-75px);
    position: relative;
    min-height: 800px;
}

/*
=========================================
Sidebar
=========================================
*/
.sidebar-container {
    align-items: center;
    justify-content: center;
    width: 70px;
    gap: 15px;
    padding: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}
.sidebar-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.sidebar-item:first-child img {
    border-radius: 0;
}

/*
=========================================
Message box
=========================================
*/
.msg-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: calc(1000vw - 70px);
}